%z {
  position: relative;
  z-index: 2;
}

.heading-3 {
  @extend %z;
  font-size: 0.85rem;
  font-weight: 500;
}

.heading-4 {
  @extend %z;
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.5;
}

.paragraph-1 {
  @extend %z;
  font-size: 1.3rem;
  font-weight: 500;
}

.paragraph-2 {
  @extend %z;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.5;
}
