@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

body {
  font-family: "Alata", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.heading-primary {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  color: $color-white;
  font-weight: 300;
  line-height: 1;
}
