@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 93.75%; }

body {
  box-sizing: border-box;
  background-color: white; }

body {
  font-family: "Alata", sans-serif;
  font-size: 1em;
  font-weight: 400; }

.heading-primary {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
  font-weight: 300; }

.heading-secondary {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 300; }

.heading-tertiary {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: white; }

.paragraph {
  color: #8c8c8c;
  line-height: 1.7;
  font-size: 1.1rem; }

.u-margin-bottom {
  margin-bottom: 2rem; }

.u-margin-bottom-lg {
  margin-bottom: 4rem; }

.wrapper {
  margin: 0 auto;
  padding: 0 12rem; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 3px solid #8c8c8c;
  padding: 0.5rem 2rem;
  letter-spacing: 0.3em; }

.project {
  position: relative; }
  .project__img {
    object-fit: cover;
    position: relative; }
  .project__caption {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    width: 60%; }

.footer {
  background-color: black;
  padding: 5rem 0;
  position: relative; }
  .footer__logo {
    height: 1.5rem; }
  .footer__navigation--list {
    list-style-type: none; }
  .footer__navigation--item {
    display: inline-block;
    margin-right: 1rem; }
  .footer__navigation--link {
    text-decoration: none;
    color: white; }
  .footer__socials {
    position: absolute;
    top: 5rem;
    right: 12rem; }
    .footer__socials--icon {
      display: inline-block;
      margin-right: 1rem; }
      .footer__socials--icon:last-child {
        margin-right: 0; }
  .footer__copyright {
    font-size: 0.9rem;
    position: absolute;
    bottom: 5rem;
    right: 12rem; }

.row {
  max-width: 76vw;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  margin: 0 auto;
  padding: 5rem 12rem; }
  .header .container {
    width: 100%;
    height: 100%;
    position: relative; }
  .header__logo {
    position: absolute;
    top: 0;
    left: 0; }
  .header__navigation {
    position: absolute;
    top: 0;
    right: 0; }
    .header__navigation--list {
      list-style-type: none; }
    .header__navigation--item {
      display: inline-block;
      margin: 0.5rem 0 0 2rem; }
    .header__navigation--link {
      text-decoration: none;
      color: white; }
  .header__text-box {
    position: absolute;
    top: 30%;
    left: 0;
    border: 2px solid white;
    padding: 2rem 3rem;
    overflow: hidden;
    width: 55%; }

.section-about {
  margin: 12rem 0;
  position: relative;
  padding: 0 12rem; }
  .section-about__image {
    position: relative;
    top: 0;
    left: 0;
    height: 78vh; }
  .section-about__text-box {
    position: absolute;
    bottom: 0;
    right: 5rem;
    width: 40%;
    background-color: white;
    padding: 7rem 1rem 0 7rem; }

.section-projects {
  margin: 0 auto 10rem;
  width: 76vw;
  position: relative; }
  .section-projects .btn {
    position: absolute;
    top: 0;
    right: 1rem; }
