.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s;
  }

  &--white {
    color: $color-pink;
    border: solid currentColor 1px;
    border-radius: 2rem;
    padding: 0.75rem 2.5rem;

    font-size: 1.4rem;


    &:hover {
      color: $color-pink-light;
    }
  }

  &--pink {
    color: white;
    background-color: $color-pink;
    border-radius: 5rem;
    padding: 2rem 8rem;
    font-weight: 600;
    font-size: 1.8rem;
    box-shadow: 0 5px 4px rgba(black,0.4);

    &:hover {
      background-color: $color-pink-light;
    }
  }
}
