.section-about {
  margin: 12rem 0;
  position: relative;
  padding: 0 12rem;

  &__image {
    position: relative;
    top: 0;
    left: 0;
    height: 78vh;
  }
  &__text-box {
    position: absolute;
    bottom: 0;
    right: 5rem;
    width: 40%;
    background-color: $color-white;
    padding: 7rem 1rem 0 7rem;
  }
}

.section-projects {
  margin: 0 auto;
  width: 76vw;
  position: relative;

  .btn {
    position: absolute;
    top: 0;
    right: 1rem;
  }
}
