/* html classes

reviews
review
__profile
__profile-img

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@media only screen and (max-width: 81.25em) {
  html {
    font-size: 90%; } }

body {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #ecf2f8; }

.container {
  display: grid;
  grid-template-columns: 8rem repeat(4, [col-start] 1fr [col-end]) 8rem;
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  grid-gap: 2.2rem; }
  @media only screen and (max-width: 81.25em) {
    .container {
      grid-template-columns: 5rem repeat(4, [col-start] 1fr [col-end]) 5rem; } }
  @media only screen and (max-width: 68.75em) {
    .container {
      grid-template-columns: 1rem repeat(4, [col-start] 1fr [col-end]) 1rem; } }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: 7rem [col-start] 1fr [col-end] 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-columns: 1rem [col-start] 1fr [col-end] 1rem; } }

.reviews {
  margin: 5rem 0; }

.review {
  position: relative;
  padding: 2rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 1.3rem;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1); }
  .review__profile {
    display: flex;
    align-items: center; }
    .review__profile-image {
      margin-right: 1rem;
      border-radius: 50%;
      border: solid 2px currentColor;
      width: 2rem;
      height: 2rem;
      position: relative;
      z-index: 2; }
  .review--1 {
    grid-column: col-start 1 / col-end 2;
    background-color: #7541c8;
    color: white; }
    @media only screen and (max-width: 62.5em) {
      .review--1 {
        grid-column: col-start / col-end; } }
    .review--1::before {
      content: url(../images/bg-pattern-quotation.svg);
      position: absolute;
      z-index: 1;
      right: 5rem;
      top: 1rem; }
  .review--2 {
    grid-column: col-start 3 / col-end 3;
    background-color: #48556a;
    color: white; }
    @media only screen and (max-width: 62.5em) {
      .review--2 {
        grid-column: col-start / col-end; } }
  .review--3 {
    grid-column: col-start 1 / col-end 1;
    background-color: white;
    color: #48556a; }
    @media only screen and (max-width: 62.5em) {
      .review--3 {
        grid-column: col-start / col-end; } }
  .review--4 {
    grid-column: col-start 2 / col-end 3;
    background-color: #19212e;
    color: white; }
    @media only screen and (max-width: 62.5em) {
      .review--4 {
        grid-column: col-start / col-end; } }
  .review--5 {
    grid-column: col-start 4 / col-end 4;
    grid-row: 1 / -1;
    background-color: white;
    color: #48556a; }
    @media only screen and (max-width: 62.5em) {
      .review--5 {
        grid-column: col-start / col-end; } }

.heading-3, .heading-4, .paragraph-1, .paragraph-2 {
  position: relative;
  z-index: 2; }

.heading-3 {
  font-size: 0.85rem;
  font-weight: 500; }

.heading-4 {
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.5; }

.paragraph-1 {
  font-size: 1.3rem;
  font-weight: 500; }

.paragraph-2 {
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.5; }
